:root {
    --pr-color: #919191;
    --font-slackey: Slackey;
    --font-size-13xl: 32px;
    --font-size-xl: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dbdbdb;
}

.bg-gray {
    background-color: #f8fafc;
}

/* Navbar Style*/

.navbar {
    z-index: 3;
    background-color: #dbdbdb;

}

* {
    z-index: 2;
}

.img-hero {
    z-index: 1;
}

.navbar-brand {
    font-weight: 600px;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #b8b8b8;
    color: #111111;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #111111;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-1 {
    position: absolute;
    top: 233px;
    left: 533px;
    font-size: var(--font-size-xl);
    display: inline-block;
    width: 669px;
    height: 416px;  
}

.selamat-datang-di {
    margin: 0;
}

.span {
    font-size: var(--font-size-13xl);
}

.chilo-pet-care {
    margin: 0;
    font-size: 45px;
}

.selamat-datang-di-container {
    position: absolute;
    top: 296px;
    left: 587px;
    font-family: var(--font-slackey);
    display: inline-block;
    width: 460px;
    height: 118px;
    font-size: var(--font-size-13xl);
}

.blank-line {
    margin: 0;
}

.fotokucing-icon,
.pelayanan {
    position: absolute;
    top: 0;
    left: 0;
    width: 520px;
    height: 750px;
}

/* Hero Section */

#hero {
    background: linear-gradient(160deg, var(--pr-color), #f7f7f7);
    height: 100vh;
    width: 100%;
}

.img-hero {
    height: 88%;
}

/* Pelayanan Section*/
#pelayanan {
    /*background: linear-gradient(80deg, var(--pr-color), #f7f7f7); */
    padding: 100px 0;
}

.title-pelayanan {
    font-family: var(--font-slackey);
}
.container .box-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:150px;
}
.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
    border-radius: 5px;
    background: #f7f7f7;
    text-align: center;
    padding: 30px 20px;
}
.container .box-container .box img {
    height:100px;

}
.container .box-container .box h3 {
    color:#111111;
    font-size: 30px;
    padding:10px 0;
}
.container .box-container .box p {
    color:#333;
    font-size: 20px;
    line-height: 1.8;
}
.container .box-container .box ul li {
    color:#333;
    font-size: 18px;
    text-align: left;
    line-height: 1.8;
}
.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #f7f7f7;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.container .box-container .box .btn:hover {
    letter-spacing :1px;
}
.container .box-container .box:hover {
    box-shadow:0 10px 15px rgba(0, 0, 0,.3);
    transform: scale(1.03);
}


