@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.bg-custom {
    background-color: #fffaf5;
}

.text-pet {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    min-height: 100vh;
    position: relative;
}
form {
    position: relative;
    z-index: 20;
}

.input-custom {
    border: none !important;
    border-bottom: 1px solid #070401 !important;
    border-radius: 0  !important;
    background-color: transparent !important;
    outline: none!important;
}

.btn-primary {
    background-color: #827270 !important;
    border: none !important;
}

.element-1 {
    position: absolute;
}

.element-1 svg {
    width: 300px;
    height: 160px;
}

.element-2 {
    position: absolute;
    bottom: 0;
}

.element-2 svg {
    width: 200px;
    height: 160px;
}

.element-3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-form {
    position: relative;
}

.element-4 {
    position: absolute;
    top: 10rem;
    right: 0;
}

.element-5 {
    position:absolute;
    top: 20rem;
    right: 0;
    z-index: 10;
}

.element-6 {
    position: absolute;
    top: 0;
    right: 0;
}
